.center {
  text-align: center;
  margin-top: 375px;
  height: 2000px;;
  width: 100%;
}

.center_elem {
  text-align: center;
  display: inline-block;
  float: left;
  margin-left: 5%;
  height: 800px;
  width: 40%;
  border: 10px solid white;
  border-radius: 15px;
  background-color: white;
}

.center p {
  text-align: left;
  font-size: 38px;
  border-bottom: 4px solid grey;
  font-family: monospace;
  color: grey;
}

.center img {
  height: 80%;
  width: 100%;
  vertical-align: bottom;
}
