body {
  background-image: url("http://wallpapercave.com/wp/KH1gMmv.jpg");
}

caption {
  font-size: 1vw;
  color: white;
}

table {
  width: 100%;
  height: 100%;
}

td, tr {
  border: 1px solid black;
  width: 4%;
  height: auto;
  text-align: center;
  empty-cells: hide;
}

h2 {
  font-size: 1.5vw;
}

.num {
  text-align: left;
  font-size: 0.8vw;
}

.mass {
  text-align: right;
  font-size: 0.8vw;
}

.violet {
  background-color: #ab92ff;
}

.dark_orange {
  background-color: #ffc691;
}

.light_orange {
  background-color: #ffe091;
}

.light_yellow {
  background-color: #eefc91;
}

.yellow {
  background-color: #fff992;
}

.green_blue {
  background-color: #93fb9f;
}

.pink {
  background-color: #fa91ff;
}

.blue {
  background-color: #91dfff;
}

.grey {
  background-color: #c8c8c9;
}

.light_green {
  background-color: #d3fc92;
}

.green {
  background-color: #bafb92;
}
